body{
    background-image: url("overlay.png"), url("black-books-with-roses.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#principal{
    text-shadow: 1px 1px 1px #1c1c1c;
    text-align: center;
}

#title{
    text-align: center;
    margin: 40px auto 0;
    color: white;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 3px;
    border: double 7px white;
    width: 700px;
    padding: 3px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.txt-label{
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

#user-txt{
    padding: 8px;
    border-radius: 5px;
    font-size: 15.5px;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    margin-top: 15px;
}

.botao-default{
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 14.5px;
    letter-spacing: 3px;
    border: none;
    margin-top: 20px;
    background-color: rgb(159, 60, 60);
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.botao-default:nth-child(2){
    margin-left: 20px;
}

.botao-default:hover{
    cursor: pointer;
    opacity: 0.9;
}

.lista-livros{
    list-style-type: none;
    margin-top: 50px;
    width: 800px;
    margin: 40px auto 0 auto;
    border-radius: 5px;
    background-color: #651a1aed;
    box-shadow: 1px 1px 5px #1c1c1c;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.lista-livros-item{
    line-height: 2;
    letter-spacing: 2px;
    font-size: 19px;
    text-shadow: 1px 1px 5px black;
}

.img-livro{
    width: 200px;
    height: 250px;
}